.MoviesColumn {
  &__row {
    background-color: black;
    color: white;
    opacity: 0.8;
    border-color: gray;
  }

  &__row:hover {
    background-color: black;
    color: white;
    opacity: 0.4;
  }

  &__selected-row {
    background-color: gray;
    opacity: 0.8;
  }

  &__selected-row:hover {
    background-color: gray;
    opacity: 0.8;
  }

  &__plain-row, &__plain-row:hover {
    color: white;
    opacity: 1;
    border-color: gray;
  }
}
